<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activities</title>
</head>
<body>
    <a href="/admin/addActivity"><button>Add Activity</button></a>
    <div style="border: 6px black;" class="card">
        <% activities.forEach(activity =>{ %>
        <img src="<%= activity.activityImage %>" alt="<%= activity.title %>">
        <h1><%= activity.title %></h1>
        <h2><%= activity.description %></h2>
        <a href="/admin/activityDetail/<%= activity._id %>"><button >View</button></a>
        <a href="/admin/updateActivity/<%= activity._id %>"><button>Edit</button></a>
        <form action="/admin/activityDelete/<%= activity._id %>" method="POST" style="display:inline;">
            <button type="submit">Delete</button>
        </form>
        <% }) %>
    </div>
</body>
</html>