<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events</title>
</head>
<body>
    <a href="/admin/addEvent"><button>Add Event</button></a>
    <% events.forEach(event => { %>
        <h1><%= event.title %></h1>
        <h2><%= event.description %></h2>
        <img src="<%= event.eventImage %>" alt="<%= event.title %>">

        <a href="/admin/updateEvent/<%= event._id %>"><button>Edit</button></a>
        <a href="/admin/eventDetails/<%= event._id %>"><button>View</button></a>
        <form action="/admin/deleteEvent/<%= event._id %>" method="post">
            <button type="submit">Delete</button>
        </form>

    <% }) %>
</body>
</html>